.page-content {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.page-content .brand-card {
    flex: 0 0 30%; /*grow | shrink | basis */
    width: 350px !important;
    height: 100px !important;
    margin: 1% 2% 0% 1.33%;
}

.page-content #card {
    height: 90% !important;
}

.page-content #card img {
    /* max-width: 90px !important; */
    width: 30%;
    height: 80px !important;
    margin: -6% 0 0 -5%;
}

.page-content #card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 2px grey;
}

.page-content #card h5 {
    margin: -18% 0 0 35%;
}

.card-link {
    text-decoration: none;
    color: black;
}

.card-link:hover {
    color: black;
}
