@page "/admin/productmanufacturers"
@using bri4iparts.Data.Models

<div class="page-content">
    <h3>Производители</h3>
    @* <AuthorizeView Roles="Admin"> *@
    <RadzenButton Click=@(AddProductManufacturer) Text="Добави производител" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary" id="add-button" Style="margin-left: 1%;"/>
    @* </AuthorizeView> *@
    @if (manufacturers != null)
    {
        <RadzenDataGrid AllowColumnResize="true" FilterMode="FilterMode.Simple"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowFiltering="true"
                    PageSize="10" AllowPaging="true" AllowSorting="true"
                    Data="@manufacturers" TItem="ProductManufacturer" ColumnWidth="300px"
                    LogicalFilterOperator="LogicalFilterOperator.Or">
            <Columns>
                <RadzenDataGridColumn TItem="ProductManufacturer" Property="Id" Title="#" Width="50px" Sortable="true" Filterable="false" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="ProductManufacturer" Property="Name" Filterable="true" Title="Име" Width="100px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="ProductManufacturer" Title="Снимка" Width="100px" TextAlign="TextAlign.Center" Sortable="false">
                    <Template Context="data">
                        <img src="images/manufacturers/@data.PictureUrl" style="width: 40px; height: 40px; border-radius: 8px;">
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ProductManufacturer" Property="Id" Width="100px" TextAlign="TextAlign.Center" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenButton Click=@(() => EditProductManufacturer(data)) Text="Редакция" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Style="width: 150px !important;" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ProductManufacturer" Property="Id" Width="100px" TextAlign="TextAlign.Center" Sortable="false" Filterable="false">
                    <Template Context="data">
                        <RadzenButton Click=@(() => DeleteProductManufacturer(data.Id)) Text="Изтрий" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Danger" Style="width: 150px !important;" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    }
</div>