@page "/admin/products"

<div class="page-content">
    <div class="brand-card">
        <a class="card-link" href="">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-users" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>ORDERS</h5>
            </RadzenCard>
        </a>
    </div>
</div>