@page "/admin"

<div class="page-content">
    <div class="brand-card">
        <a class="card-link" href="/users">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-users" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Потребители</h5>
            </RadzenCard>
        </a>
    </div>
    <div class="brand-card">
        <a class="card-link" href="/logs">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-file-pdf" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Логове</h5>
            </RadzenCard>
        </a>
    </div>
    <div class="brand-card">
        <a class="card-link" href="/orders">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-truck-arrow-right" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Поръчки</h5>
            </RadzenCard>
        </a>
    </div>
    <div class="brand-card">
        <a class="card-link" href="/admin/productcategories">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-plus-minus" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Категории продукти</h5>
            </RadzenCard>
        </a>
    </div>
    <div class="brand-card">
        <a class="card-link" href="/admin/productmanufacturers">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-plus-minus" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Производители</h5>
            </RadzenCard>
        </a>
    </div>
    <div class="brand-card">
        <a class="card-link" href="/admin/products">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-plus-minus" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Продукти</h5>
            </RadzenCard>
        </a>
    </div>
    <div class="brand-card">
        <a class="card-link" href="/admin/productsubcategories">
            <RadzenCard id="card">
                <h5 style="font-size: 16px;"><i class="fa-solid fa-plus-minus" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Подкатегории продукти</h5>
            </RadzenCard>
        </a>
    </div>
    <div class="brand-card">
        <a class="card-link" href="/admin/vehiclebrands">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-plus-minus" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Марки коли</h5>
            </RadzenCard>
        </a>
    </div>
    <div class="brand-card">
        <a class="card-link" href="/admin/vehiclemodels">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-plus-minus" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Модели коли</h5>
            </RadzenCard>
        </a>
    </div>
    <div class="brand-card">
        <a class="card-link" href="/admin/vehiclemodifications">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-plus-minus" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Модификации коли</h5>
            </RadzenCard>
        </a>
    </div>
    <div class="brand-card">
        <a class="card-link" href="/admin/vehiclebrandmodels">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-plus-minus" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Подмодели коли</h5>
            </RadzenCard>
        </a>
    </div>
    <div class="brand-card">
        <a class="card-link" href="/admin/vehiclecategories">
            <RadzenCard id="card">
                <h5><i class="fa-solid fa-plus-minus" style="margin: 30% 25% 0 -40%; font-size: 40px"></i>Категории МПС</h5>
            </RadzenCard>
        </a>
    </div>
</div>